@charset "UTF-8";
/* CSS Document */

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

/******css document body*****/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/wow.png') bottom center no-repeat;
  background-size: cover;
  font-size: 1em;
}

   /******centering covering image and font size*****/

.centered {
  padding: 0 3.125em;
  font-family:'Montserrat', sans-serif;
  background: #f16059;
}
  /*******font family, padding and color background of box****/
h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
 /***********color and size, centering of font*********/

@media screen and (min-width: 786px) {
  h1 {
    font-size: 3em;
  }
}

   /********tablet size********/

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }
}

   /********Desktop size********/
